.body{
    background-color: rgb(27, 158, 233);
}
.header{
    text-align: center;
    background-color: rgb(106, 185, 255);
}

.scores{
    text-align: center;
    background-color: rgb(106, 185, 255);
}

.crystals{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.break{
    background-color:  rgb(106, 233, 250);
}
.p{
    color: lightgray;
    text-align: center;
    padding: 20%;
    background-image: url("../../assets/crystal_images/back.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.winLoss{
    text-align: center;
}